*{margin: 0;padding: 0;}
html{width: 100%;height: 100%;overflow: hidden;}
/*body{width: 100%;height: 100%;background: url(../img/58e8804a33efa_1024.jpg) no-repeat center 0px;background-position: center 0;background-size: cover;}*/
body{width: 100%;height: 100%;background: url(../img/58e8804a33efa_10242.jpg) repeat-x 0px 0px;transition:background-position 1s;}
li{list-style: none;}
#player{overflow:hidden; width: 95%;height: 95%;box-shadow:5px 5px 30px rgba(0,0,0,0.8); border-radius:2%;background:rgba(255,255,255,0.5);margin: auto;top: 2%;left:2.8%;position: fixed;}
#main{margin-left:0px; width: 500px;height: 100%;box-shadow: 6px 0px 5px #888888; position: relative;transition:margin-left 0.5s;float: left;clear: left;}
#play_top{text-align: center; width: 500px;height: 100px;background: url(../img/nav1.png) 0 -600px; }
#play_top>img:first-child{width: 300px;margin-top: 10px;}

#musicList{ background:rgba(255,255,255,0.3); width: 500px;height: 75%;overflow: auto;overflow-x:hidden; box-shadow:0px 0px 3px rgba(0,0,0,0.3);}
#musicList::-webkit-scrollbar {/*滚动条整体样式*/
            width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 5px;
           
        }
#musicList::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.2);
             cursor: pointer;
             
        }
#musicList::-webkit-scrollbar-track {/*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
            border-radius: 0;
            background: rgba(0,0,0,0.1);
        }


.list_content ul{width: 100%;}
.list_content ul li{ width: 100%;height: 57px;background: rgba(255,255,255,0.2);border-bottom: 1px rgba(2,2,2,0.2) solid;box-sizing: border-box;}
.list_content ul li.active{ border-left: 5px #666666 solid; background:rgba(255,255,255,0.2) url(../img/listplay.gif) no-repeat 5px 13px;}
.title{color: rgba(0,0,0,0.5);font-size: 15px;padding: 10px 0 0 30px;}
.name{color: rgba(0,0,0,0.2);font-size: 13px;padding: 2px 0 0 30px;}
#list_audio{width:500px;height: 200px; background: url(../img/nav1.png) 0 -600px;}

.listcenterbt1{z-index:100; position:absolute;top: 45%;right: 0px; width: 40px;height: 70px;cursor: pointer;opacity:0.2;}
.listcenterbt2{z-index:100; position:absolute;top: 45%;right: -40px; width: 40px;height: 70px;cursor: pointer;opacity:0.2;display: none;}


/*音乐播放界面*/
#musicDetails{transition:width 0.5s; width:calc(100% - 502px);float: left;height: 100%;background:rgba(255,255,255,0.2) ; background-size: cover;}

#musicDetails .details_title{border-right:rgba(0,0,0,0.2) solid 2px; width: 100%;height: 70px;background: rgba(0,0,0,0.5);}
.details_name{text-align: center;color: white;font-size: 20px;margin:0px auto;padding: 10px 0 0 0;}
.details_name>span{font-size: 12px;text-align: center;}

#musicDetails .details_img{border-right:rgba(0,0,0,0.02) solid 2px; box-shadow:5px 5px 10px rgba(0,0,0,0.8); position: relative; width: 153px;height: 153px;margin: 20px auto;border-radius: 2px;background-color: rgba(0,0,0,0.5);}
.name_img{width: 135px;height: 135px;margin: 9px; }
.cd_img{position: absolute;top: 0;right: -34px;width: 34px;}
#musicDetails .details_lyric{position:relative; width: 100%;height: calc(100% - 550px);overflow: hidden;}
#musicDetails .details_lyric ul{transition: .5s;  position:absolute; top:0; left:0; width: 100%; text-align: center;color: rgba(0,0,0,0.5);font-size: 16px;}
#musicDetails .details_lyric li{margin-top: 15px;}
#musicDetails .details_lyric li.active{color: dodgerblue;font-weight: 700;font-size: 18px;}
#musicDetails .details_audio{border-right:rgba(0,0,0,0.02) solid 2px; width: 100%;height: 300px;margin-top: 0px; background: url(../img/detailaudiobg.png) repeat-x;transition:background-position 2s;z-index: 105;position: relative;}


.details_audioAll{width: 80%;padding-top:170px ; margin: 0px auto;position: relative;}
.details_audioPro{width:100%;height: 5px;background: white;border-radius: 10%;}
.details_audioProUp{width:0%;height: 5px;background:lightseagreen;}
.details_audioProBar{ width:18px;height: 18px;background: lightseagreen; border-radius: 50%;position: absolute;left: 0%;top: 170px;margin: -7px;}

.details_nowTime{font-size: 14px;color:rgba(255,255,255,1);position: absolute;top: 163px;left: -43px;}
.details_allTime{font-size: 14px;color:rgba(255,255,255,1);position: absolute;top: 163px;right: -43px;}
.details_play{width: 55px;height: 55px;background: url(../img/details_play.png) no-repeat; background-size:cover ;position: absolute;left: 46.5%;top: 195px;cursor: pointer;}
.details_prev{width: 37px;height: 37px;background: url(../img/details_prev.png) no-repeat; background-size:cover ;position: absolute;left: 30%;top: 200px;cursor: pointer;}
.details_next{width: 37px;height: 37px;background: url(../img/details_next.png) no-repeat; background-size:cover ;position: absolute;left:65%;top: 200px;cursor: pointer;}


.details_volume{width: 15%;height: 20px;position: absolute;left:90%;top: 210px;}
.detailsVolumeImg{width: 20px;height: 20px;background: url(../img/volume.png) no-repeat;background-size:cover ;}
.detailsVolumePro{width: calc(100% - 25px);height:2px;position: absolute;top: 8px;right: 0px;background: white;}
.detailsVolumeProUp{width: 100%;height:2px ;position: absolute;top: 0;left: 0;background: dodgerblue;}
.detailsVolumeProBar{width:4px;height: 4px;border: white 2px solid; position: absolute;top: 0;left: 100%;margin-left: -4px; margin-top: -3px; border-radius: 50%; background: dodgerblue;cursor: pointer;}

.detailsWayPlay{width: 105px;height: 30px;position: absolute;top: 210px;left:0%;font-size: 14px;color: white;cursor: pointer;}
.detailsWayImg{width: 30px;height: 30px;position: absolute;top:0;right:0;margin-top: -6px; cursor: pointer;}
