html{font-size:625%;}
body{font-size: 0.14rem;margin: 0px;padding: 0px;font-family:arial;font:arial;font-weight: 500;}
ul,li,p{margin: 0px;padding: 0px;text-decoration: none;list-style: none;}
li{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
a:link{}
a:hover{text-decoration:none;}
table{text-align: center;}
.contain{padding: 0px;border-radius: 5px;overflow: hidden;margin: 40px auto;width: 1350px;box-shadow: 3px 3px 40px 	#808080;}
.backstage_contain_left{
	width: 190px;
}
.logo{
	height: 80px;
	background: #ea2e49 url(../img/38989505695571664.png) no-repeat;
	background-size: 300px;
}
.logo img{height: 80px;}
.navigation{
	height: 700px;
	background: #F5F5F5;
}
.ul1{padding-top: 20px;}
.ul1 li{
	
	font-size: 0.16rem;
	text-indent: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}
.ul1 li span{
	margin-right: 10px;
	color:#Ea7889;
}
#hot{
	background: #ead7da;
	border-left: 5px solid #Ea7889;
	color:#Ea7889;
}

/*右边*/
.backstage_ccontain_right{
	width:1160px;
}
.search{
	height: 80px;
	background: #F5F5F5;
	padding-top: 1px;
}
.input1{width: 200px;background: #F5F5F5;}
#span1{width: 20px;background: #ea2e49;color: white;cursor: pointer;}
.form_div{width:250px;margin-top: 25px;margin-left: 30px;}
.hello_admin{margin-right: 20px;margin-top: 20px;line-height: 40px;}
.icon1{cursor:pointer;margin-right:10px;background: #ea2e49;height: 40px;width: 40px;border-radius: 20px;color: white;font-size: 0.2rem;text-align: center;}
.icon1span{margin-top: 8px;}
.hello_caicai{font-size: 0.2rem;font-weight: 500;}
.icon2{font-size: 0.2rem;color: #EA2E49;}


/*下面界面*/
.bottom_right{
	height: 700px;
	background: #F0EFEE;
	padding-top: 1px;
}
/*管理界面*/
.Music_management{
	width: 1060px;
	margin: 20px auto;
	background: white;
	height: 650px;
	border-radius: 5px;
	padding: 0.1px;
}
.Music_management2{
	width: 960px;
	margin: 20px auto;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}
.deleteicon{
	color: #EA2E49;
	font-size: 0.18rem;
	cursor: pointer;
}
.othericon{
	cursor: pointer;
}

/*音乐添加*/
.Music_add,.administrator_account,.User_management{
	width: 960px;
	margin: 20px auto;
	border-radius: 5px;
	overflow: hidden;
}
.music_addul li:first-child{
	font-size: 0.3rem;
}
.music_addul li{
	margin-bottom: 20px;
}
.music_addul li span{
	line-height: 30px;
	display: block;
	width: 80px;
	text-align: right;
	margin-right: 20px;
}
.music_addul li input{
	width: 200px;
	margin-right: 20px;
}
.add_submit{
	margin-left: 100px;
	width: 100px;
}
li .Lyrics{
	width: 700px;
	height: 300px;
}


/*账号管理*/

.administrator_account,.User_management{
	text-align: center;
}
.administrator_account>div,.User_management>div:first-child{
	font-size: 0.3rem;
	margin-bottom: 20px;
}
.adduser{
	width: 2rem;
	
}
.table_div2{
	height: 400px;
	overflow: auto;
	margin-bottom: 40px;
}
.table2{
	margin: 0px;
}
.table1{height: 555px;overflow: auto;}
.User_property,.property{
	background: #F5F5F5;
	height: 36px;
	text-align: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	line-height: 36px;
}
.User_property li,.property li{
	padding: 0px;
	float: left;
}
.property li:nth-of-type(1),.tbody1 td:nth-of-type(1){
	width: 168px;
}
.property li:nth-of-type(2),.tbody1 td:nth-of-type(2){
	width: 205px;
}
.property li:nth-of-type(3),.tbody1 td:nth-of-type(3){
	width: 150px;
}
.property li:nth-of-type(4),.tbody1 td:nth-of-type(4){
	width: 128px;
}
.property li:nth-of-type(5),.tbody1 td:nth-of-type(5){
	width: 180px;
}
.property li:nth-of-type(6),.tbody1 td:nth-of-type(6){
	width: 112px;
}
.User_property li:nth-of-type(1),.tbody td:nth-of-type(1){
	width: 21.5%;
}
.User_property li:nth-of-type(2),.tbody td:nth-of-type(2){
	width: 13.5%;
}
.User_property li:nth-of-type(3),.tbody td:nth-of-type(3){
	width: 20.5%;
}
.User_property li:nth-of-type(4),.tbody td:nth-of-type(4){
	width: 21.2%;
}
.User_property li:nth-of-type(5),.tbody td:nth-of-type(5){
	width: 22.2%;
}
.xingicon,.xinicon{
	cursor: pointer;
}
.addadmin{margin-right: 50px;}
.tuichuadmin{width: 100px;}
